:root {
  --white: #ffffff;
  --black: #111111;
  --yellow: #f8e71c;
  --purple: #9013fe;
  --green: #417505;
  --orange: #ff564f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}
body {
  min-height: 100vh;
}
ol,
ul {
  list-style: none;
}
.container {
  overflow: hidden;
  padding: 0 10%;
}
.btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--orange);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  cursor: pointer;
  i {
    font-size: 16px;
    color: #fff;
  }
}
.btn:hover {
  transform: scale(1.05);
}

.nav {
  background-color: var(--black);
  color: var(--white);
  min-height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  margin: 6.7px 0 7.8px 0;
  width: 80.9px;
  height: 17.5px;
  overflow: hidden;
  img {
    width: 100%;
    cursor: pointer;
  }
}
.nav__menu {
  width: 268px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    line-height: 32px;
    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        color: var(--orange);
        transition: 0.2s;
      }
    }
  }
}
.nav__hamber {
  display: none;
  font-size: 40px;
}
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--white);
  color: var(--black);
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  z-index: 10;
  li {
    width: 100%;
  }
  .sidebar__item {
    padding: 20px 10px;
    margin: 5px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
  }
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
.hero {
  min-height: 950px;
  margin-top: 64px;
  color: var(--white);
  position: relative;
}
.sub-background {
  position: relative;
  background-color: var(--black);
  height: 630px;
  z-index: 1;
}
.sub-background .pagination {
  position: absolute;
  bottom: -178px;
  left: 10%;
  display: flex;
  align-items: center;
  gap: 24px;
}
.sub-background .pagination .page-count {
  font-family: "Roboto Condensed", sans-serif;
  color: #111;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.hero__wrapper {
  position: absolute;
  top: 102px;
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  z-index: 4;
}
.hero__left {
  z-index: 4;
  color: var(white);
  h1 {
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
    text-transform: uppercase;
  }
}
.hero__left .sub-hero-title {
  margin-top: 49px;
  display: flex;
  align-items: center;
  gap: 44px;
}
.hero__left .sub-hero-title img {
  width: 56px;
  height: 56px;
}
.hero__left .sub-hero-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
  width: 370px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: unset;
  opacity: 1;
}
.btn-group {
  display: flex;
  gap: 8px;
}
.hero__right {
  z-index: 2;
}
.hero__right .hero-img {
  margin-top: 23px;
  position: relative;
}
.hero__right .hero-img img {
  width: 268px;
  height: 268px;
}
.hero__right .hero-img .sub-hero-img {
  position: absolute;
  top: 95px;
  right: 90px;
  width: 570px;
  height: 624px;
  background-color: var(--orange);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.hero__right .hero-img .sub-hero-img img {
  width: 684px;
  height: 513px;
}
.line {
  height: 2px;
  background-color: var(--black);
  width: 80%;
  margin: 0 auto;
}
.about {
  min-height: 730px;
  display: flex;
  align-items: center;
}
.about__image {
  flex: 1;
  position: relative;
}
.about__image .circle-bg {
  position: absolute;
  width: 470px;
  height: 470px;
  background-color: var(--yellow);
  border-radius: 50%;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.about__image .main-img {
  position: absolute;
  width: 756px;
  height: 567px;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.about__image .shape-img {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.about__image .shape-img img {
  width: 268px;
  height: 268px;
}
.about__image .play-btn {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.about__image .play-btn i {
  padding: 40px;
  background-color: var(--white);
  color: var(--orange);
  border-radius: 50%;
  font-size: 34px;
}

.about__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.about__content h1 {
  font-size: 56px;
  font-weight: 900;
  line-height: 64px;
  font-family: "Inknut Antiqua", serif;
  text-transform: uppercase;
}
.about__content h4 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 32px;
}
.about__content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
}
.about__content .about-btn {
  display: flex;
  gap: 49px;
}
.about__content .about-btn button:first-child {
  font-family: "Roboto Condensed", sans-serif;
  padding: 14.5px 37.5px;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
}
.about__content .about-btn button:first-child:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.about__content .about-btn button:last-child {
  font-family: "DM Sans", sans-serif;
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--white);
  font-size: 16px;
  padding: 0 49px;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
}
.about__content .about-btn button:last-child:hover {
  border: 2px solid var(--black);
  font-weight: 700;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.features {
  padding-top: 140px;
  padding-bottom: 80px;
  color: var(--white);
  background: var(--black);
  display: flex;
  flex-direction: column;
}
.feature-info {
  display: flex;
  gap: 30px;
}
.feature-info h1 {
  flex: 1;
  font-size: 56px;
  font-weight: 900;
  line-height: 64px;
  font-family: "Inknut Antiqua", serif;
  text-transform: uppercase;
}
.feature-info p {
  flex: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
}

.feature-container {
  margin-top: 110px;
  position: relative;
  height: 100%;
}
.feature-container .swiper {
  width: 100%;
  height: 100%;
}

.feature-container .swiper .swiper-slide {
  height: 288px !important;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
.feature-container .swiper .swiper-slide:nth-child(even) .item {
  background-color: #417505;
}
.feature-container .swiper .swiper-slide .item {
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #9013fe;
}
.feature-container .swiper .swiper-slide .item img {
  width: 48px;
  height: 48px;
}
.feature-container .swiper .swiper-slide .item h3 {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}
.feature-container .swiper .swiper-slide .item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
}
.feature-container .swiper-pagination-bullet {
  background-color: #9c9696;
  width: 8px;
  height: 8px;
  opacity: 0.5;
}
.feature-container .swiper-pagination-bullet-active {
  background-color: #9013fe;
  opacity: 1;
  transform: scale(1.3);
}
.projects {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 78px;
  overflow: hidden;
}
.projects-intro {
  display: flex;
  gap: 30px;
}
.projects-intro h1 {
  flex: 1;
  font-size: 56px;
  font-weight: 900;
  line-height: 64px;
  font-family: "Inknut Antiqua", serif;
  text-transform: uppercase;
}
.projects-intro p {
  flex: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
}

.line-project {
  margin: 0 auto;
  width: 80%;
  height: 2px;
  background-color: #111;
  width: 100%;
}

.projects-show {
  display: flex;
}
.portfolio {
  flex: 2.5;
}
.portfolio h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 37px;
}
.portfolio ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.portfolio ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
  opacity: 1;
  width: 170px;
  height: 48px;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: 0.2s;
  cursor: pointer;
}
.portfolio ul li:hover {
  margin-left: 5px;
  padding-left: 10px;
  color: #fff;
  background-color: #111;
  border-radius: 4px;
}
.portfolio .select-wrapper {
  display: none;
}
.show-wrapper {
  flex: 7.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 47px;
}
.show-wrapper .project-item {
  position: relative;
  width: 100%;
  height: 416px;
  display: flex;
  border-radius: 4px;
}
.show-wrapper .project-item .project-item-1-img {
  width: auto;
  right: 10%;
  position: absolute;
  bottom: 0;
}
.show-wrapper .project-item .project-item-2-img {
  width: auto;
  right: -10%;
  position: absolute;
  bottom: 0;
}
.show-wrapper .project-item .title-item {
  position: absolute;
  bottom: 57px;
  left: 35px;
}
.show-wrapper .project-item .title-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 12px;
}
.show-wrapper .project-item .title-item h2 {
  width: 281px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  font-family: "Inknut Antiqua", serif;
  text-transform: uppercase;
}
.show-wrapper .project-item-1 {
  background-color: #f8e71c;
}
.show-wrapper .project-item-2 {
  background-color: #ff564f;
  color: #fff;
}
.show-wrapper .btn-project {
  font-family: "Roboto Condensed", sans-serif;
  padding: 14.5px 37.5px;
  color: #fff;
  background-color: #ff564f;
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
  width: 170px;
}
.show-wrapper .btn-project:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.feedback {
  display: flex;
  flex-direction: column;
}

.feedback-content {
  padding: 0 10%;
  display: flex;
  align-items: center;
  min-height: 440px;
  background-color: #000;
  position: relative;
}
.feedback-content .left-feedback {
  flex: 1;
  min-width: 50%;
  color: #fff;
}
.feedback-content .left-feedback h1 {
  font-size: 56px;
  font-weight: 900;
  line-height: 64px;
  font-family: "Inknut Antiqua", serif;
  text-transform: uppercase;
  margin-bottom: 37px;
}
.feedback-content .left-feedback p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}
.feedback-content .right-feedback {
  flex: 1;
}
.feedback-content .right-feedback .feedback-slide-container {
  position: absolute;
  right: 0;
  top: 25%;
  width: 680px;
  color: #000;
  z-index: 10;
}
.feedback-content .right-feedback .swiper {
  margin: 0;
  width: 100%;
  height: 512px;
}
.feedback-content .right-feedback .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #9013fe;
  padding: 48px;
  color: #fff;
  border-radius: 4px;
}
.feedback-content .right-feedback .swiper-slide .item-title {
  display: flex;
  align-items: center;
  gap: 26px;
}
.feedback-content .right-feedback .swiper-slide .item-title img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.feedback-content .right-feedback .swiper-slide .item-title .client-info {
  display: flex;
  flex-direction: column;
}
.feedback-content .right-feedback .swiper-slide .item-title .client-info h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}
.feedback-content .right-feedback .swiper-slide .item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
  text-align: unset;
  opacity: 0.5;
}

.btn-feedback {
  padding: 100px 10%;
}

.brand-showcase {
  width: 80%;
  height: 286px;
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
  margin: 0 auto;
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-showcase img {
  width: 149px;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}
.blog {
  display: flex;
  flex-direction: column;
  gap: 75px;
  padding-top: 75px;
  padding-bottom: 75px;
}
.blog-info {
  display: flex;
}
.blog-info h1 {
  flex: 1.1;
  font-size: 56px;
  font-weight: 900;
  line-height: 64px;
  font-family: "Inknut Antiqua", serif;
  text-transform: uppercase;
}
.blog-info p {
  flex: 0.9;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
}

.post-wrapper {
  display: flex;
  justify-content: space-between;
}
.post-wrapper .post-item {
  max-width: 370px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.post-wrapper .post-item .post-img {
  width: 100%;
  height: 288px;
}
.post-wrapper .post-item .post-img img {
  width: 100%;
  height: auto;
}
.post-wrapper .post-item h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  opacity: 1;
}
.post-wrapper .post-item h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 32px;
}
.post-wrapper .post-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
}
.footer {
  background: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 104px;
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
}
.contact {
  display: flex;
  z-index: 2;
}
.contact h1 {
  flex: 1;
  font-size: 56px;
  font-weight: 900;
  line-height: 64px;
  font-family: "Inknut Antiqua", serif;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
}
.contact .contact-email {
  flex: 1;
}
.contact .email-box {
  width: 470px;
  min-height: 288px;
  padding: 48px;
  background-color: #ff564f;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact .email-box h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: 1;
}
.contact .email-box input {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
  border: none;
  outline: none;
  border-radius: 4px;
  opacity: 1;
}
.contact .email-box button {
  font-family: "Roboto Condensed", sans-serif;
  padding: 14.5px 37.5px;
  color: #fff;
  background-color: #ff564f;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
  background-color: #ff635c;
}
.contact .email-box button:hover {
  color: var(--orange);
  background: var(--white);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.footer-link {
  display: flex;
  justify-content: space-between;
}

.col-1 h2,
.col-2 h4,
.col-3 h4 {
  margin-bottom: 35px;
}

.col-2 h4,
.col-3 h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: 1;
}

.col-1 p,
.col-2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
}

.col-1 {
  flex: 1;
}
.col-1 h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.col-2 {
  flex: 1;
}
.col-2 ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
  opacity: 1;
}

.col-3 {
  flex: 1;
}
.col-3 ul {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
  opacity: 1;
}

.col-4 {
  flex: 1.15;
  font-size: 24px;
}
.col-4 i {
  padding: 12px;
  background-color: #333;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.line-footer {
  position: absolute;
  top: 38%;
  margin: 0 auto;
  width: 80%;
  height: 2px;
  background-color: #fff;
  z-index: 1;
}
