:root {
  --white: #ffffff;
  --black: #111111;
  --yellow: #f8e71c;
  --purple: #9013fe;
  --green: #417505;
  --orange: #ff564f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}
body {
  min-height: 100vh;
}
ol,
ul {
  list-style: none;
}
.container {
  overflow: hidden;
  padding: 0 10%;
}
.btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--orange);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  cursor: pointer;
  i {
    font-size: 16px;
    color: #fff;
  }
}
.btn:hover {
  transform: scale(1.05);
}

.nav {
  background-color: var(--black);
  color: var(--white);
  min-height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  margin: 6.7px 0 7.8px 0;
  width: 80.9px;
  height: 17.5px;
  overflow: hidden;
  img {
    width: 100%;
    cursor: pointer;
  }
}
.nav__menu {
  width: 268px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    line-height: 32px;
    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        color: var(--orange);
        transition: 0.2s;
      }
    }
  }
}
.nav__hamber {
  display: none;
  font-size: 40px;
}
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--white);
  color: var(--black);
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  z-index: 10;
  li {
    width: 100%;
  }
  .sidebar__item {
    padding: 20px 10px;
    margin: 5px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
  }
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
.hero {
  min-height: 950px;
  margin-top: 64px;
  color: var(--white);
  position: relative;
}
.sub-background {
  position: relative;
  background-color: var(--black);
  height: 630px;
  z-index: 1;
}
.sub-background .pagination {
  position: absolute;
  bottom: -178px;
  left: 10%;
  display: flex;
  align-items: center;
  gap: 24px;
}
.sub-background .pagination .page-count {
  font-family: "Roboto Condensed", sans-serif;
  color: #111;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.hero__wrapper {
  position: absolute;
  top: 102px;
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  z-index: 4;
}
.hero__left {
  z-index: 4;
  color: var(white);
  h1 {
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
    text-transform: uppercase;
  }
}
.hero__left .sub-hero-title {
  margin-top: 49px;
  display: flex;
  align-items: center;
  gap: 44px;
}
.hero__left .sub-hero-title img {
  width: 56px;
  height: 56px;
}
.hero__left .sub-hero-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  font-family: "DM Sans", sans-serif;
  opacity: 0.5;
  text-align: justify;
  width: 370px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: unset;
  opacity: 1;
}
.btn-group {
  display: flex;
  gap: 8px;
}
.hero__right {
  z-index: 2;
}
.hero__right .hero-img {
  margin-top: 23px;
  position: relative;
}
.hero__right .hero-img img {
  width: 268px;
  height: 268px;
}
.hero__right .hero-img .sub-hero-img {
  position: absolute;
  top: 95px;
  right: 90px;
  width: 570px;
  height: 624px;
  background-color: var(--orange);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.hero__right .hero-img .sub-hero-img img {
  width: 684px;
  height: 513px;
}
.line {
  height: 2px;
  background-color: var(--black);
  width: 80%;
  margin: 0 auto;
}
